<div class="container">
    <h1> Create New Order </h1>
    <br>

    <form [formGroup]="order" (ngSubmit)="sendForm()">

        <div class="row">
            <div class="col-6">
                <label class="form-label"> Nombre: </label> 
                <br>
                <input type="text" class="form-control" formControlName="nombre"
                [ngClass]="{'is-invalid': order.controls['nombre'].invalid && (order.controls['nombre'].dirty || order.controls['nombre'].touched), 'is-valid' : order.controls['nombre'].valid}">
                @if (order.controls['nombre'].invalid && (order.controls['nombre'].dirty || order.controls['nombre'].touched)) {
                    @if (order.controls['nombre'].errors?.['required']) {
                        <div class="text-danger"> Campo Obligatorio </div>
                    }
                    @if (order.controls['nombre'].errors?.['minlength']) {
                        <div class="text-danger"> Debe ingresar minimo 3 caracteres </div>
                    }
                }
            </div>
            <div class="col-6">
                <label class="form-label"> Email: </label> 
                <br>
                <input type="email" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': order.controls['email'].invalid && (order.controls['email'].dirty || order.controls['email'].touched), 'is-valid' : order.controls['email'].valid}">
                @if (order.controls['email'].invalid && (order.controls['email'].dirty || order.controls['email'].touched)) {
                    @if (order.controls['email'].errors?.['required']) {
                        <div class="text-danger"> Campo Obligatorio </div>
                    }
                    @if (order.controls['email'].errors?.['email']) {
                        <div class="text-danger"> Debe ingresar correo correcto </div>
                    }
                    @if (order.controls['email'].errors?.['tooMany']) {
                        <div class="text-danger"> Hiciste muchos pedidos en los ultimos tres dias </div>
                    }
                }
            </div>
        </div>
        
        <div class="card mt-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span> <b>Productos</b> </span>
                <button type="button" class="btn btn-primary" (click)="agregarProducto()">+</button>
            </div>
            <div class="card-body" formArrayName="productos">
                @for (prod of productos.controls; track $index) {
                    <div class="row" [formGroupName]="$index">
                        <div class="col-3">
                            <label class="form-label"> Producto </label> 
                            <br>
                            <select class="form-select" formControlName="productId" (change)="onProductChange($index)">
                                @for (p of allProducts; track $index) {
                                    <option [value]="p.id"> {{p.name}} </option>
                                }
                            </select>
                            @if (productos.errors?.['duplicates']) {
                                <div class="text-danger">
                                    No se puede elegir el mismo producto
                                </div>
                            }
                        </div>
                        <div class="col-3">
                            <label class="form-label"> Cantidad </label> 
                            <br>
                            <input type="number" class="form-control" formControlName="cantidad" (change)="onProductChange($index)">
                            @if (productos.errors?.['minProd']) {
                                <div class="text-danger">
                                    Cantidad invalida
                                </div>
                            }
                        </div>
                        <div class="col-3">
                            <label class="form-label"> Precio </label> 
                            <br>
                            <input type="text" class="form-control" formControlName="precio" [readonly]="true">
                        </div>
                        <div class="col-3">
                            <label class="form-label"> Stock </label> 
                            <br>
                            <div class="d-flex align-items-end">
                                <input type="text" class="form-control" formControlName="stock" [readonly]="true">
                            <button class="btn btn-danger ms-2" type="button" (click)="quitarProducto($index)"> X </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br>
        <div class="card mt-5">
            <div class="card-header">
                <b>Productos Seleccionados</b>
            </div>
            <div class="card-body">
                <ul>
                    @for (p of order.controls['productos'].value; track $index) {
                        <li>
                            {{searchNameById(p.productId) + " - Cantidad: " + p.cantidad + " - Precio: $" + p.precio + " - Stock: " + p.stock}}
                        </li>
                    }
                </ul>
                
            </div>
        </div>
        <br>
        <div class="card mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h6><b>Total:</b></h6>
                        <br>
                        @if (discountDone) {
                            <div class="text-success">
                                Se ha hecho un descuento del 10%
                            </div>
                        }
                    </div>
                    <div class="col-4">
                        <p> <b> $ {{order.value.total}} </b> </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="order.invalid"> Create Orden</button>
        </div>        
    </form>
</div>